/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Header styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

/* Navigation styles */
.nav-item>ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.logo-image img {
    width: 70px;
    /* Adjust the width to your desired size */
    height: auto;
    margin-right: 10px;
    /* Add some spacing between the logo and the next item */
}

.nav-links {
    color: white;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;

}

/* Optional: Styles for each list item */
.nav-item>ul>li {
    list-style-type: none;
    display: flex;
    margin-left: auto;

}

.card {

    color: white;
    min-height: 400px;
    max-width: 300px;
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 10px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    margin: 25px;


}


.card:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);

}

.res-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.card-img {
    padding: 5px;
    border-radius: 5px;

}

.card-img :hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 0.2s;
    overflow: hidden;
    width: 280px;
    border-radius: 10px;
}

.card-details {
    font-weight: 800;
    letter-spacing: -0.1rem;
    margin-bottom: 20px;
    color: white;
    margin-left: 8px;
}

body {
    background-color: black;
    color: wheat;
}