/* 
.nav-item>ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.nav-links {
    color: #666666;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;

}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-image{
    width: 150px;
    height: 90px;
   transform: scale(0.9);
    position: relative;
    top: 8px;
    left: -30px;
    margin-right: auto;
} */